.cask
.org-id
elpa/*
quelpa/
auto-save-list/
url/
# emacs files
\#*
.\#*
*~
# vim files
*.swp
*.swo
*.swn
**/sheets/*.html
# projectile & session files
projectile.cache
projectile-bookmarks.eld
session.*
eshell/
transient/
recentf
taskrunner-tasks.eld
tramp
.cache
*.desktop
elpy/
games/
treemacs-workspaces.org
